.root {
  padding: 25px 0;
  background: #201f1f;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  color: #fff;

  .link {
    font-size: 18px;
    margin: 0 10px;
  }

  .current {
    border-bottom: 1px solid red;
  }
}
.link[aria-current="page"] {
  border-bottom: 2px solid red;
}

.contact {
  // width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  border-bottom: 1px solid #fff;
}
// !I COULD USE JS LOGIC AS WELL
// 'active' ? [cl.link, cl.current].join(' ') :cl.link
